.container-content{
    padding: 4rem 2rem;
    text-align: center;
}

.main-content{
    padding: 4rem 2rem;
}

.main-content h3{
    text-align: center;
}

.container-content h1{
    font-size: 2rem;
}

.col{
    border: 0px solid black;
}

.img{
    margin: 15px auto;
}